<h1>Experiment 2</h1>

In [7]:
#imports
import csv
import pandas as pd

In [ ]:
with open("files//data14.csv") as data:
    wri = csv.reader(data)
    for i in wri:
        print(i)

<h2>Using Pandas.</h2>

In [8]:
pdat = pd.read_csv("files//data14.csv")
pdat.shape

(12067, 8)

In [ ]:
pdat.dtypes

In [ ]:
pdat.info()

In [28]:
pdat

               id  F1    F2   F3    F4  F5       F6   F7
0      4519157822   0  28.0  NaN  11.0   0  17210.0  6.6
1      4523371949   0  12.0  NaN   5.0   0  14712.0  6.6
2      4521474530   0  15.0  0.0   NaN   1  16113.0  6.4
3      4524384067   0  43.0  0.0   NaN   1  15157.0  7.0
4      4436033771   0  75.0  0.0   6.0   0  16400.0  7.0
...           ...  ..   ...  ...   ...  ..      ...  ...
12062  4527873286   1  17.0  1.0   5.0   1  17765.0  7.2
12063  4527797466   1  54.0  0.0   8.0   1  16238.0  7.2
12064  4527713716   0  23.0  0.0   5.0   0  15903.0  7.0
12065  4527628313   0  14.0  1.0   3.0   1  14459.0  6.6
12066  4523772935   1  18.0  1.0   5.0   0  16266.0  7.0

[12067 rows x 8 columns]

In [ ]:
pdat.head()

In [ ]:
pdat.tail()

In [ ]:
pdat.T

In [17]:
pdat.loc[:8,["id","F1","F2"]]

           id  F1    F2
0  4519157822   0  28.0
1  4523371949   0  12.0
2  4521474530   0  15.0
3  4524384067   0  43.0
4  4436033771   0  75.0
5  4475365709   1  18.0
6  4493010632   1  18.0
7  4496759358   0  16.0
8  4443048030   0  16.0

In [40]:
pdat.iloc[0:8,0:8]

           id  F1    F2   F3    F4  F5       F6   F7
0  4519157822   0  28.0  NaN  11.0   0  17210.0  6.6
1  4523371949   0  12.0  NaN   5.0   0  14712.0  6.6
2  4521474530   0  15.0  0.0   NaN   1  16113.0  6.4
3  4524384067   0  43.0  0.0   NaN   1  15157.0  7.0
4  4436033771   0  75.0  0.0   6.0   0  16400.0  7.0
5  4475365709   1  18.0  0.0   6.0   1  15899.0  7.0
6  4493010632   1  18.0  1.0   7.0   1  16874.0  6.8
7  4496759358   0  16.0  0.0   3.0   0  15305.0  6.4

In [14]:
pdat[["id","F2","F3","F6"]]

               id    F2   F3       F6
0      4519157822  28.0  NaN  17210.0
1      4523371949  12.0  NaN  14712.0
2      4521474530  15.0  0.0  16113.0
3      4524384067  43.0  0.0  15157.0
4      4436033771  75.0  0.0  16400.0
...           ...   ...  ...      ...
12062  4527873286  17.0  1.0  17765.0
12063  4527797466  54.0  0.0  16238.0
12064  4527713716  23.0  0.0  15903.0
12065  4527628313  14.0  1.0  14459.0
12066  4523772935  18.0  1.0  16266.0

[12067 rows x 4 columns]

In [35]:
pdat["F4"].unique()

array([11.,  5., nan,  6.,  7.,  3.,  8.,  1.,  4., 15., 10.,  9., 13.,
        2., 12., 14.,  0., 18., 17., 16., 22., 21., 20., 25., 19., 23.,
       24., 29., 28., 26., 27.])

In [41]:
pdat.isnull()

          id     F1     F2     F3     F4     F5     F6     F7
0      False  False  False   True  False  False  False  False
1      False  False  False   True  False  False  False  False
2      False  False  False  False   True  False  False  False
3      False  False  False  False   True  False  False  False
4      False  False  False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...
12062  False  False  False  False  False  False  False  False
12063  False  False  False  False  False  False  False  False
12064  False  False  False  False  False  False  False  False
12065  False  False  False  False  False  False  False  False
12066  False  False  False  False  False  False  False  False

[12067 rows x 8 columns]

In [ ]:
pdat.sort_values("F2")